.disp_text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

::selection{
    background-color: yellow;
}

.button_comment{
    width: 2rem;
    height: 2rem;
    color: #fff;
    background-color: #56b8f5;
    border: 2px solid #56b8f5;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s,ease-in-out;

}
.button_comment:hover{
    background-color: #fff;
    color: #56b8f5;
}
.delete_comment{
    width: 65px;
    height: 30px;
    font-size:12px;
    
}
.set_comment{
    width:85px;
    height: 30px;
    font-size: 12px;
    margin-right: 10px;
}
.time{
    float: right;
    color: gray;
}
input{
    height: 35px;
    margin-bottom: 5px;
}